<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.failedprojects.anjaroot"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_ANJAROOT" />

    <permission-group
        android:name="android.permission-group.ANJAROOT"
        android:description="@string/permission_description"
        android:label="@string/anjaroot"
        android:priority="1000" />

    <permission
        android:name="android.permission.ACCESS_ANJAROOT"
        android:description="@string/permission_description"
        android:label="@string/permission_label"
        android:permissionGroup="android.permission-group.ANJAROOT"
        android:protectionLevel="dangerous" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/anjaroot"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name=".MainActivity"
            android:label="@string/anjaroot" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RequestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/request_activity_name"
            android:launchMode="singleInstance" >
        </activity>

        <service
            android:name=".AnJaRootService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.ACCESS_ANJAROOT"
            android:process=".AnJaRootService" >
            <intent-filter>
                <action android:name="org.failedprojects.anjaroot.action.REQUEST_ACCESS" />
                <action android:name="org.failedprojects.anjaroot.action.ANSWER_REQUEST" />
            </intent-filter>
        </service>
    </application>

</manifest>